<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
    <style>
    .images {
      height: 300px;
      width: 300px;
      margin: 10px;
        }
    </style>
  </head>
  <body ng-app="myApp">
    <div ng-controller="SpCtrl">
      <div class="jumbotron">
        <center>
          <input type="text" ng-model="artist" placeholder="search artist name" ng-keyup="searchArtist()"> <button class="btn btn-primary">Search</button>
          <h4>
            Enter the Artist name and listen to the preview of the albums you like
          </h4>
        </center>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card" ng-repeat="album in albums track by album.id">
        <img style="background-image:url()" class="card-img-top" src="{{album.images[1].url}}"/>
        <div class="card-block">
          <h4 class="card-title">{{album.name}}</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a ng-click="getAlbumTracks(album.id)" class="btn btn-primary">{{buttonStatus}}</a>
        </div>
      </div>
      </div>
      <div class="col-md-4"></div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </body>
</html>
